.wrapper
  display: flex
  align-items: center
  flex-direction: column
  color: white
  width: 100%
  height: calc((100vw - 17px) / 1440 * 619)
  background:
    size: cover
    image: url("../../images/Header__container_bg.png")
    repeat: no-repeat

.block_name
  font:
    size: 24px
    weight: 700
  line-height: 30px
  margin-top: 3rem

.title
  font-size: 58px
  margin: 17px 0 27px
  line-height: 80px
  letter-spacing: .2px
  text-align: center

.sub_title
  margin-bottom: 54px
  font:
    weight: 500
    size: 24px
  line-height: 24px

.btn_wrapper
  width: 506px
  display: flex
  justify-content: space-between

.btn
  cursor: pointer
  line-height: 36px
  letter-spacing: .1px
  font:
    weight: 700
    size: 24px
  width: 236px
  border-radius: 30px
  padding: 16px 0
  display: flex
  justify-content: center
  color: white

.red_btn
  border: none
  background: #FA4A0C

.white_btn
  border: 1px solid white
  background: transparent