.header
  height: 156px
  width: 100%
  padding: 0 40px 0 70px
  display: flex
  justify-content: space-between
  align-items: center

.logo_wrapper
  padding: 0 20px

.logo
  width: 206px

.nav
  width: 580px
  height: 48px
  display: flex
  justify-content: space-between

.link
  text-decoration: none
  color: #252B42
  //width: auto
  padding: 10px
  height: 48px
  font-style: normal
  font-weight: 600
  font-size: 16px
  line-height: 28px
  text-align: center
  letter-spacing: 0.2px

.active
  color: #FA4A0C